.main--exchange-table-title {
    padding-left: 10rem;
}

.main--benefits-title {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.main--plans-cards-container-slider {
    display: flex;
    justify-content: space-evenly;
    height: 30rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 3rem;
}